In [76]:
import pandas as pd

In [77]:
veri = pd.read_csv("C:/Users/doguy/Desktop/Planets/artifacts/PSCompPars_2023.10.03_19.49.43.csv")
additional = pd.read_csv("C:/Users/doguy/Desktop/Planets/artifacts/additional.csv")
veri = pd.concat([veri, additional], axis=1)

In [78]:
veri.columns

Index(['pl_name', 'hostname', 'pl_letter', 'sy_snum', 'sy_pnum', 'sy_mnum',
       'discoverymethod', 'disc_locale', 'disc_facility', 'disc_telescope',
       'disc_instrument', 'pl_orbper', 'pl_orbpererr1', 'pl_orbpererr2',
       'pl_orbperlim', 'pl_orbeccen', 'pl_orbeccenerr1', 'pl_orbeccenerr2',
       'pl_orbeccenlim', 'st_spectype', 'sy_dist', 'sy_disterr1',
       'sy_disterr2', 'sy_plx', 'sy_plxerr1', 'sy_plxerr2', 'sy_kepmag',
       'sy_kepmagerr1', 'sy_kepmagerr2', 'pl_orbper', 'pl_orbpererr1',
       'pl_orbpererr2', 'pl_orbperlim', 'sy_dist', 'sy_disterr1',
       'sy_disterr2', 'pl_nnotes'],
      dtype='object')

In [79]:
veri.isnull().sum()

pl_name               0
hostname              0
pl_letter             0
sy_snum               0
sy_pnum               0
sy_mnum               0
discoverymethod       0
disc_locale           0
disc_facility         0
disc_telescope        0
disc_instrument       0
pl_orbper           243
pl_orbpererr1       722
pl_orbpererr2       722
pl_orbperlim        243
pl_orbeccen         766
pl_orbeccenerr1    3956
pl_orbeccenerr2    3956
pl_orbeccenlim      766
st_spectype        3547
sy_dist              21
sy_disterr1         127
sy_disterr2         127
sy_plx              308
sy_plxerr1          308
sy_plxerr2          308
sy_kepmag          2082
sy_kepmagerr1      5523
sy_kepmagerr2      5523
pl_orbper           243
pl_orbpererr1       722
pl_orbpererr2       722
pl_orbperlim        243
sy_dist              21
sy_disterr1         127
sy_disterr2         127
pl_nnotes           149
dtype: int64

In [80]:
liste = ["pl_orbper",   
"pl_orbpererr1",    
"pl_orbpererr2",       
"pl_orbperlim",        
"pl_orbeccen",         
"pl_orbeccenerr1",  
"pl_orbeccenerr2",    
"pl_orbeccenlim",      
"st_spectype",        
"sy_plx",              
"sy_plxerr1",          
"sy_plxerr2",          
"sy_kepmag",          
"sy_kepmagerr1",      
"sy_kepmagerr2"]

In [81]:
veri = veri.drop(columns=liste,axis=1)

In [82]:
veri =veri.fillna(veri.median())

C:\Users\doguy\AppData\Local\Temp\ipykernel_8980\1973196057.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  veri =veri.fillna(veri.median())

In [83]:
veri.isnull().sum()

pl_name            0
hostname           0
pl_letter          0
sy_snum            0
sy_pnum            0
sy_mnum            0
discoverymethod    0
disc_locale        0
disc_facility      0
disc_telescope     0
disc_instrument    0
sy_dist            0
sy_disterr1        0
sy_disterr2        0
sy_dist            0
sy_disterr1        0
sy_disterr2        0
pl_nnotes          0
dtype: int64

In [84]:
veri.columns

Index(['pl_name', 'hostname', 'pl_letter', 'sy_snum', 'sy_pnum', 'sy_mnum',
       'discoverymethod', 'disc_locale', 'disc_facility', 'disc_telescope',
       'disc_instrument', 'sy_dist', 'sy_disterr1', 'sy_disterr2', 'sy_dist',
       'sy_disterr1', 'sy_disterr2', 'pl_nnotes'],
      dtype='object')

In [85]:
veri.head()

,pl_name,hostname,pl_letter,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_locale,disc_facility,disc_telescope,disc_instrument,sy_dist,sy_disterr1,sy_disterr2,sy_dist,sy_disterr1,sy_disterr2,pl_nnotes
0,11 Com b,11 Com,b,2,1,0,Radial Velocity,Ground,Xinglong Station,2.16 m Telescope,Coude Echelle Spectrograph,93.1846,1.9238,-1.9238,93.1846,1.9238,-1.9238,2.0
1,11 UMi b,11 UMi,b,1,1,0,Radial Velocity,Ground,Thueringer Landessternwarte Tautenburg,2.0 m Alfred Jensch Telescope,Coude Echelle Spectrograph,125.3210,1.9765,-1.9765,125.3210,1.9765,-1.9765,0.0
2,14 And b,14 And,b,1,1,0,Radial Velocity,Ground,Okayama Astrophysical Observatory,1.88 m Telescope,HIDES Echelle Spectrograph,75.4392,0.7140,-0.7140,75.4392,0.7140,-0.7140,0.0
3,14 Her b,14 Her,b,1,2,0,Radial Velocity,Ground,W. M. Keck Observatory,10 m Keck I Telescope,HIRES Spectrometer,17.9323,0.0073,-0.0073,17.9323,0.0073,-0.0073,0.0
4,16 Cyg B b,16 Cyg B,b,3,1,0,Radial Velocity,Ground,Multiple Observatories,Multiple Telescopes,Multiple Instruments,21.1397,0.0110,-0.0111,21.1397,0.0110,-0.0111,5.0

In [86]:
veri.to_csv("C:/Users/doguy/Desktop/Planets/artifacts/data.csv")