In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/doguy/Desktop/Planets/artifacts/PSCompPars_2023.10.03_19.49.43.csv")

In [5]:
df.head(5)

,pl_name,hostname,pl_letter,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_locale,disc_facility,disc_telescope,...,st_spectype,sy_dist,sy_disterr1,sy_disterr2,sy_plx,sy_plxerr1,sy_plxerr2,sy_kepmag,sy_kepmagerr1,sy_kepmagerr2
0,11 Com b,11 Com,b,2,1,0,Radial Velocity,Ground,Xinglong Station,2.16 m Telescope,...,G8 III,93.1846,1.9238,-1.9238,10.71040,0.219739,-0.219739,NaN,NaN,NaN
1,11 UMi b,11 UMi,b,1,1,0,Radial Velocity,Ground,Thueringer Landessternwarte Tautenburg,2.0 m Alfred Jensch Telescope,...,K4 III,125.3210,1.9765,-1.9765,7.95388,0.124857,-0.124857,NaN,NaN,NaN
2,14 And b,14 And,b,1,1,0,Radial Velocity,Ground,Okayama Astrophysical Observatory,1.88 m Telescope,...,K0 III,75.4392,0.7140,-0.7140,13.22890,0.124501,-0.124501,NaN,NaN,NaN
3,14 Her b,14 Her,b,1,2,0,Radial Velocity,Ground,W. M. Keck Observatory,10 m Keck I Telescope,...,K0 V,17.9323,0.0073,-0.0073,55.73630,0.022596,-0.022596,NaN,NaN,NaN
4,16 Cyg B b,16 Cyg B,b,3,1,0,Radial Velocity,Ground,Multiple Observatories,Multiple Telescopes,...,G3 V,21.1397,0.0110,-0.0111,47.27540,0.024532,-0.024532,6.095,NaN,NaN

In [16]:
unique_counts = df["disc_telescope"].value_counts()
result = df[df["disc_telescope"].isin(unique_counts[unique_counts == 1].index)]

# Sonucu görüntüleyelim
result

,pl_name,hostname,pl_letter,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_locale,disc_facility,disc_telescope,...,st_spectype,sy_dist,sy_disterr1,sy_disterr2,sy_plx,sy_plxerr1,sy_plxerr2,sy_kepmag,sy_kepmagerr1,sy_kepmagerr2
14,2MASS J02192210-3925225 b,2MASS J02192210-3925225,b,1,1,0,Imaging,Ground,Cerro Tololo Inter-American Observatory,1.5 m CTIO Telescope,...,M6,40.089641,0.194050,-0.194050,24.944100,0.120739,-0.120739,NaN,NaN,NaN
62,BD+60 1417 b,BD+60 1417,b,1,1,0,Imaging,Space,Wide-field Infrared Survey Explorer (WISE) Sat,0.4 m Telescope,...,K0,44.954300,0.059300,-0.059200,22.215900,0.029102,-0.029102,NaN,NaN,NaN
81,COCONUTS-2 b,COCONUTS-2 A,b,1,1,0,Imaging,Ground,NASA Infrared Telescope Facility (IRTF),3.2 m telescope,...,M3 V,10.886400,0.004100,-0.004200,91.829100,0.034483,-0.034483,NaN,NaN,NaN
184,GJ 1132 b,GJ 1132,b,1,2,0,Transit,Ground,Cerro Tololo Inter-American Observatory,MEarth-South telescope array,...,M4.5 V,12.613000,0.007000,-0.007000,79.254300,0.043767,-0.043767,NaN,NaN,NaN
277,GJ 676 A c,GJ 676 A,c,2,4,0,Radial Velocity,Ground,Paranal Observatory,Very Large Telescope (Antu),...,M0,16.027200,0.010100,-0.010100,62.365000,0.039059,-0.039059,NaN,NaN,NaN
284,GJ 687 b,GJ 687,b,1,2,0,Radial Velocity,Ground,Lick Observatory,2.4 m Automated Planet Finder Telescope,...,M3 V,4.549390,0.000680,-0.000680,219.781000,0.032410,-0.032410,NaN,NaN,NaN
307,GPX-1 b,GPX-1,b,1,1,0,Transit,Ground,Acton Sky Portal Observatory,279mm RASA-11 wide-field telescope,...,F2,655.013000,17.102000,-16.269000,1.498950,0.038569,-0.038569,NaN,NaN,NaN
472,HD 102195 b,HD 102195,b,1,1,0,Radial Velocity,Ground,Kitt Peak National Observatory,0.9 m KPNO Coude Feed Telescope,...,K0 V,29.338600,0.048200,-0.048000,34.056000,0.055474,-0.055474,8.553,NaN,NaN
1057,HD 47536 b,HD 47536,b,1,1,0,Radial Velocity,Ground,La Silla Observatory,1.52 m ESO Telescope,...,K1 III,122.536000,1.303500,-1.303500,8.133520,0.086142,-0.086142,NaN,NaN,NaN
1171,HD 87646 b,HD 87646,b,3,1,0,Radial Velocity,Ground,Apache Point Observatory,2.5m Sloan Digital Sky Survey (SDSS) Telescope,...,G,73.583520,8.554960,-8.554960,13.590000,1.580000,-1.580000,NaN,NaN,NaN
1211,HD 97048 b,HD 97048,b,1,1,0,Disk Kinematics,Ground,Atacama Large Millimeter Array (ALMA),Atacama Large Millimeter Array (ALMA),...,Be9.5/AO,183.857000,1.331000,-1.313000,5.410520,0.038800,-0.038800,NaN,NaN,NaN
1298,HR 810 b,HR 810,b,1,1,0,Radial Velocity,Ground,La Silla Observatory,1.4 m CAT Telescope,...,G0V,17.318100,0.016200,-0.016200,57.714300,0.053679,-0.053679,NaN,NaN,NaN
1937,KPS-1 b,KPS-1,b,1,1,0,Transit,Ground,Acton Sky Portal Observatory,Rowe-Ackermann Schmidt Astrograph telescope,...,K1 V,262.706000,2.620000,-2.570000,3.778000,0.037316,-0.037316,NaN,NaN,NaN
4784,NY Vir c,NY Vir,c,2,2,0,Eclipse Timing Variations,Ground,Winer Observatory,0.51 m Telescope,...,NaN,544.024000,18.876500,-18.876500,1.811610,0.063224,-0.063224,NaN,NaN,NaN
4919,RR Cae b,RR Cae,b,2,1,0,Eclipse Timing Variations,Ground,Leoncito Astronomical Complex,2.15 m Jorge Sahade Telescope,...,M,21.191600,0.011000,-0.011000,47.159600,0.024343,-0.024343,NaN,NaN,NaN
4921,Ross 458 c,Ross 458,c,2,1,0,Imaging,Ground,Las Campanas Observatory,6.5 m Magellan I Baade Telescope,...,M2,11.509400,0.020250,-0.020250,86.857000,0.151504,-0.151504,NaN,NaN,NaN
4923,SR 12 AB c,SR 12 AB,c,2,1,0,Imaging,Ground,Infrared Survey Facility,1.4 m IRSF Telescope,...,NaN,112.317216,5.409484,-5.409484,8.903355,0.428808,-0.428808,12.345,NaN,NaN
5259,UKIRT-2017-BLG-001L b,UKIRT-2017-BLG-001L,b,1,1,0,Microlensing,Ground,Mauna Kea Observatory,3.8m United Kingdom Infrared Telescope (UKIRT),...,NaN,6300.000000,1600.000000,-2100.000000,NaN,NaN,NaN,NaN,NaN,NaN
5260,USco CTIO 108 b,USco CTIO 108,b,1,1,0,Imaging,Ground,Teide Observatory,4.20 m William Herschel Telescope,...,M7,144.019000,5.219000,-4.872000,6.930550,0.240896,-0.240896,NaN,NaN,NaN
5271,VHS J125601.92-125723.9 b,VHS J125601.92-125723.9,b,2,1,0,Imaging,Ground,Paranal Observatory,4 m ESO Vista Telescope,...,M7.5,12.700000,1.000000,-1.000000,78.800000,6.400000,-6.400000,NaN,NaN,NaN
5453,WISE J033605.05-014350.4 b,WISE J033605.05-014350.4,b,1,1,0,Imaging,Space,James Webb Space Telescope (JWST),6.5 m James Webb Space Telescope,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5499,nu Oct A b,nu Oct A,b,2,1,0,Radial Velocity,Ground,University of Canterbury Mt John Observatory,1.0 m McLellan telescope,...,K1 IIIb-IV,21.199900,1.300610,-1.300610,47.170000,1.930000,-1.930000,NaN,NaN,NaN
5507,psi1 Dra B b,psi1 Dra B,b,3,1,0,Radial Velocity,Ground,McDonald Observatory,2.7m Harlan J. Smith Telescope,...,G0 V,22.718800,0.025800,-0.025800,43.987500,0.049594,-0.049594,NaN,NaN,NaN

In [ ]:
discovery_method = {
    'Radial Velocity': 1,
    'Imaging': 2,
    'Eclipse Timing Variations': 3,
    'Transit': 4,
    'Astrometry': 5,
    'Disk Kinematics': 6,
    'Microlensing': 7,
    'Orbital Brightness Modulation': 8,
    'Pulsation Timing Variations': 9,
    'Transit Timing Variations': 10,
    'Pulsar Timing': 11
}

disc_locale = {
    'Ground':1,
    'Space':2,
    'Multiple Locales':3
}