In [4]:
import pandas as pd
X_train = pd.read_csv("C:/Users/doguy/Desktop/Planets/artifacts/X_train.csv")

In [6]:
import numpy as np

# X_train ve X_test veri kümesinde negatif değerleri pozitife çevirme
min_value = np.min(X_train["sy_disterr2"])  # X_train'deki en küçük değeri hesapla

# Negatif değerleri pozitife çevirme
X_train["sy_disterr2"] = X_train["sy_disterr2"] - min_value

In [7]:
X_train

,Unnamed: 0,pl_letter,sy_snum,sy_pnum,discoverymethod,disc_locale,sy_dist,sy_disterr1,sy_disterr2,sy_dist.1,sy_disterr1.1,sy_disterr2.1,pl_nnotes
0,1849,1,1,1,7,1,7020.0000,1030.0000,1690.0000,7020.0000,1030.0000,-1150.0000,2.0
1,2815,4,1,4,4,2,890.7580,13.6840,2826.7160,890.7580,13.6840,-13.2840,0.0
2,957,1,1,3,4,2,139.6110,0.4290,2839.5730,139.6110,0.4290,-0.4270,0.0
3,1295,1,1,1,2,2,18.1186,0.0201,2839.9799,18.1186,0.0201,-0.0201,1.0
4,4200,1,1,1,4,2,1355.2800,46.2800,2793.7200,1355.2800,46.2800,-46.2800,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4413,3772,2,1,2,4,2,1038.9900,4.8765,2835.2165,1038.9900,4.8765,-4.7835,1.0
4414,5191,3,1,4,4,2,85.7990,0.4988,2839.5068,85.7990,0.4988,-0.4932,1.0
4415,5226,1,1,1,4,2,225.7340,1.5690,2838.4530,225.7340,1.5690,-1.5470,0.0
4416,5390,2,1,4,1,1,264.7800,4.8880,2835.2840,264.7800,4.8880,-4.7160,2.0
4417,860,1,2,1,1,1,54.2304,0.0860,2839.9143,54.2304,0.0860,-0.0857,2.0

In [8]:
X_train.sy_disterr1.unique()

array([1.0300e+03, 1.3684e+01, 4.2900e-01, ..., 1.5693e+01, 1.5690e+00,
       8.6000e-02])

In [9]:
X_train.sy_disterr1.dtype

dtype('float64')

In [10]:
X_train.sy_disterr1.min()

0.00034

In [11]:
X_train.sy_disterr1.max()

3720.23

In [14]:
data = pd.read_csv("data.csv")
data.sy_disterr1.unique()

array([1.9238 , 1.9765 , 0.714  , ..., 0.0635 , 0.9272 , 0.55975])

In [17]:
data.sy_disterr1.max()

3720.23

In [18]:
data.min()

Unnamed: 0                                    0
pl_name                                11 Com b
hostname                                 11 Com
pl_letter                                     b
sy_snum                                       1
sy_pnum                                       1
sy_mnum                                       0
discoverymethod                      Astrometry
disc_locale                              Ground
disc_facility      Acton Sky Portal Observatory
disc_telescope             0.1 m TESS Telescope
disc_instrument                      12-m Array
sy_dist                                 1.30119
sy_disterr1                             0.00034
sy_disterr2                             -2840.0
sy_dist.1                               1.30119
sy_disterr1.1                           0.00034
sy_disterr2.1                           -2840.0
pl_nnotes                                   0.0
dtype: object

In [19]:
data.max()

Unnamed: 0                                    5522
pl_name                                   xi Aql b
hostname                                    xi Aql
pl_letter                                        i
sy_snum                                          4
sy_pnum                                          8
sy_mnum                                          0
discoverymethod          Transit Timing Variations
disc_locale                                  Space
disc_facility      Yunnan Astronomical Observatory
disc_telescope         Very Large Telescope (Antu)
disc_instrument                  iKon-L CCD Camera
sy_dist                                     8500.0
sy_disterr1                                3720.23
sy_disterr2                               -0.00035
sy_dist.1                                   8500.0
sy_disterr1.1                              3720.23
sy_disterr2.1                             -0.00035
pl_nnotes                                     16.0
dtype: object